{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * RSN Data plugin for Craft CMS 3.x
 *
 * RSN Data index.twig
 *
 * @author    Percipio
 * @copyright Copyright (c) 2020 Percipio
 * @link      https://percipio.london
 * @package   RsnData
 * @since     1.0.0
 */
#}
{% extends "rsn-data/layouts/_cp" %}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("percipioglobal\\rsndata\\assetbundles\\rsndata\\RsnDataAsset") %}
{% do view.registerAssetBundle("percipioglobal\\rsndata\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}


{# The title of this CP section #}
{% set title = "Dashboard"|t('rsn-data') %}
{% set selectedNavItem = 'dashboard' %}
{% set selectedSite = craft.app.request.getQueryParam('site')|default('') %}

{# any header buttons #}
{% block actionButton %}
        {% include "rsn-data/_includes/sites-menu.twig" with {
        baseUrl: '/admin/rsn-data/',
        currentSiteId: currentSite.id,
        currentSiteHandle: currentSite.handle,
        currentSiteName:  currentSite.name
    } %}
<div class="input ltr">
    <div class="select js-select">
        <select id="data-school-set" name="">
            <option value="schools-all" selected>All Schools</option>
            <!-- <option value="schools-priority">Priority Schools</option> -->
        </select>
    </div>
</div>
<div class="input ltr">
    <div class="select js-select">
        <select id="data-time-set" name="Time Period">
            
            <optgroup label="Time">
                <option value="12-months" selected>All time<option>
                <option value="12-months" selected>Last 12 months</option>
            <!-- <option value="3-months">Last 3 months</option> -->
            </optgroup>
            <!--
                <optgroup label="School Year">
                <option value="2018">2018 - 19 school year</option>
                <option value="2019" selected>2019 - 20 school year</option>
               <option value="2020">2020 - 21 school year</option>
            </optgroup> -->
        </select>
    </div>
</div>
{% endblock %}

{% set content %}
    <h2>{{ title }}</h2>
    <p>Engagaement data is currently being ported from the previous build. Your engagement metrics will appear here soon.</p>
{% endset %}