{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * RSN Data plugin for Craft CMS 3.x
 *
 * RSN Data index.twig
 *
 * @author    Percipio
 * @copyright Copyright (c) 2020 Percipio
 * @link      https://percipio.london
 * @package   RsnData
 * @since     1.0.0
 */
#}
{%- extends "rsn-data/layouts/_cp" -%}

{%- import "_includes/forms" as forms -%}

{%- do view.registerAssetBundle("percipioglobal\\rsndata\\assetbundles\\rsndata\\RsnDataAsset") -%}
{%- do view.registerAssetBundle("percipioglobal\\rsndata\\assetbundles\\indexcpsection\\IndexCPSectionAsset") -%}


{# The title of this CP section #}
{%- set title = "Schools"|t('rsn-data') -%}
{%- set selectedNavItem = 'schools' -%}
{%- set metaseedUrl = craft.app.plugins.getPlugin('rsn-data').settings.metaseedUrl -%}
{%- set selectedSite = craft.app.request.getQueryParam('site')|default('main') -%}
{%- set selectedTime = craft.app.request.getQueryParam('time')|default('6') -%}
{%- set selectedSchools = craft.app.request.getQueryParam('p')|default('0') -%}
{%- set eventSite = selectedSite -%}
{%- set markers = null -%}
{%- set uri = craft.app.request.fullPath() -%}

{# any header buttons #}
{%- block actionButton -%}

        {%- include "rsn-data/_includes/sites-menu.twig" with {
            baseUrl: '/cp/rsn-data/' ~ selectedNavItem,
            currentSiteId: currentSite.id,
            currentSiteHandle: currentSite.handle,
            currentSiteName:  currentSite.name
        } -%}

{%- endblock -%}


{%- set content -%}

    {%- include "rsn-data/_includes/schools-menu.twig" with {
        baseUrl: '/cp/rsn-data/' ~ selectedNavItem,
        selectedTime: selectedSchools,
        selectedSchools: selectedSchools
    } -%}
    
    {%- include "rsn-data/_includes/time-menu.twig" with {
        baseUrl: '/cp/rsn-data/' ~ selectedNavItem,
        selectedTime: selectedTime,
        selectedSchools: selectedSchools
    } -%}
    <p class="my-4">Change the map view to display your chosen data set by using the options above.</p>

    {%- set currentYear = 'now'|date('Y') -%}
    {%- set previousYear = 'now'|date('Y')-1 -%}
    {%- set end = date('now')|atom -%}

    {%- switch selectedTime -%}
        {%- case '1' -%}
            {%- set start = date('january 01 2019')|atom -%}
        {%- case '6' -%}
            {%- set start = date('-6 months')|atom -%}
        {%- case '12' -%}
            {%- set start = date('-12 months')|atom -%}
        {%- case currentYear -%}
            {%- set start = date('this year january 01')|atom -%}
        {%- case previousYear -%}
            {%- set start = date('last year january 01')|atom -%}
            {%- set end = date('last year december 31')|atom -%}
        {%- default -%}
            {%- set start = date('-6 months')|atom -%}
    {%- endswitch -%}

    {%- if eventSite == 'main' -%}
        {%- set eventSite = '*' -%}
    {%- endif -%}

    {%- set events = craft.entries.section('events')
        .site(eventSite)
        .anyStatus()
        .all()
    -%}

    {%- set events = sortEvents(events, start, end) -%}

    {%- set allData = [] -%}

    {%- for event in events -%}
    
        {%- set dataEngagement = null -%}

        {%- if event.dataEngagement is iterable and (event.dataEngagement.data is not null and event.dataEngagement.data is iterable) -%}
            {%- set dataEngagement = event.dataEngagement.data -%}
            {%- set allData = dataEngagement|merge(allData) -%}
        {%- endif -%}

        {%- if loop.last and allData is not empty -%}

        {%- set markers = fetchGeo(allData, selectedSchools, metaseedUrl) -%}

        <div id="engagementMap"
            class="map-js mt-6"
            data-iconbase=""
            data-markers="{{ markers }}"
        ></div>

        {%- endif -%}

        {%- if loop.last and allData|length == '0' -%}
            <div class="widget inline-flex p-1 w-full">
                <div class="front w-full">
                    <div class="pane relative">
                        <div class="widget-heading">
                            <h2 class="text-lg font-bold">No school data found</h2>
                            <h6 class="text-xs uppercase" data-time-set>Last 12 months</h6>
                            <div class="body mt-4">
                                <p>No engagement data has been found for this Research School.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%- endif -%}

{%- endfor -%}

{%- if events|length == 0 -%}
    <div class="widget inline-flex p-1 w-full">
        <div class="front w-full">
            <div class="pane">
                <div class="widget-heading">
                    <h2 class="text-lg font-bold">No school data found</h2>
                    <h6 class="text-xs uppercase" data-time-set>Last 12 months</h6>
                    <div class="body mt-4">
                        <p>No engagement data has been found for this Research School.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}

{%- endset -%}