{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * RSN Data plugin for Craft CMS 3.x
 *
 * RSN Data index.twig
 *
 * @author    Percipio
 * @copyright Copyright (c) 2020 Percipio
 * @link      https://percipio.london
 * @package   RsnData
 * @since     1.0.0
 */
#}
{% extends "rsn-data/layouts/_cp" %}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("percipioglobal\\rsndata\\assetbundles\\rsndata\\RsnDataAsset") %}
{% do view.registerAssetBundle("percipioglobal\\rsndata\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}


{# The title of this CP section #}
{% set title = "Schools"|t('rsn-data') %}
{% set selectedNavItem = 'schools' %}
{% set selectedSite = craft.app.request.getQueryParam('site')|default('') %}

{# any header buttons #}
{% block actionButton %}
        {% include "rsn-data/_includes/sites-menu.twig" with {
        baseUrl: '/admin/rsn-data/' ~ selectedNavItem,
        currentSiteId: currentSite.id,
        currentSiteHandle: currentSite.handle,
        currentSiteName:  currentSite.name
    } %}
<div class="input ltr">
    <div class="select js-select">
        <select id="data-school-set" name="">
            <option value="schools-all" selected>All Schools</option>
            <option value="schools-priority">Priority Schools</option>
        </select>
    </div>
</div>
<div class="input ltr">
    <div class="select js-select">
        <select id="data-time-set" name="Time Period">
            <optgroup label="Time">
                 <option value="all-time" selected>All time</option>
                <option value="12-months">Last 12 months</option>
                <option value="3-months">Last 3 months</option>
            </optgroup>
            <optgroup label="School Year">
                <option value="2018">2018 - 19 school year</option>
                <option value="2019">2019 - 20 school year</option>
                <option value="2020">2020 - 21 school year</option>
            </optgroup>
        </select>
    </div>
</div>
{% endblock %}

{% set content %}
    <h2>{{ title }}</h2>
    <p>Engagement map showing <b data-school-set>all schools</b> over time period: <b data-time-set>All time</b>.</p>
    <div id="engagementMap"
         class="map-js"
         data-lat="53.780582"
         data-lng="-1.757185"
         data-school="Bradford Research School"
    ></div>
{% endset %}